$font: 'Segoe UI', 'Noto Sans'
    
body
    display: grid
    grid-template-columns: 20vw auto auto
    grid-template-rows: 23vh 20vh
    
    background-color: #2E2E2E
    background-position: center center
    background-attachment: fixed
    background-size: cover
    background-repeat: no-repeat

.enlarge:hover
    transform: scale(1.1, 1.1)

#searchButtonHolder
    display: grid
    grid-column: 2
    grid-row: 2
    grid-template-rows: 60px 2vw
    grid-template-columns: 44vw 60px
    
    #searchInput
        position: relative
        justify-self: left
        grid-column: 1
        grid-row: 1

        width: 100%
        padding-right: 60px

        background: #FFFFFF 0% 0% no-repeat padding-box
        box-shadow: 1px 6px 10px #00000066
        border: none
        border-radius: 10px

        // Text within the box
        font: normal normal 22px $font
        padding-left: 10px

    .searchButton    
        grid-column: 2
        grid-row: 1
        justify-self: flex-end

        width: 40px
        height: auto
        z-index: 1
        margin: 8px 0 0 0

        cursor: pointer
        background-color: #ffffff
        transition: transform 0.1s

    #searchInputLabel
        grid-column: 1 / 3
        grid-row: 2
    
        cursor: pointer
        font: normal normal 600 23px $font
        color: #FFFFFF
        text-shadow: 3px 6px 10px #00000063
    
    #searchInputLabel:hover
        text-decoration: underline

@media screen and ( max-width: 700px )
    #searchButtonHolder
        grid-column: 1 / 4
        grid-template-columns: 70vw 60px
        justify-self: center

#hamburger
    grid-column: 2 / 4
    grid-row: 1
    justify-self: flex-end
    
    width: 50px
    margin: 20px
    margin: 2vmax 5vmax 0 0

    cursor: pointer
    transition: transform 0.1s

#websiteName
    grid-column: 1 / 3
    grid-row: 1
    justify-self: flex-start

    margin: 2vmax 0 0 5vmax

    cursor: pointer
    font: normal normal 300 50px/20px $font
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029