{% extends "core.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/apiStatus.css') }}">


<p id="resultsCount">{{ apiStatuses["total"] }} APIs Used in Total. {{ apiStatuses["online"] }} Online, {{ apiStatuses["offline"] }} Offline</p>

{% for cat in categoryList %}
<div class="apiBox">
    <p class="apiTitle">Websites (APIs) Accessed for <u>{{ cat["name"] }}</u></p>
    {% for api in cat["apis"] %}
        <div class="api {% if cat['apis'][api]['status'] == True %}onlineStatus{% elif cat['apis'][api]['status'] == False %}offlineStatus{% endif %}">
            
            <img src="{{ url_for('static', filename='cdn/apiLogos/' + cat['apis'][api]['logo']) }}" onerror="imageDisplayError(this)" 
                title="{{ cat['apis'][api]['name'] }}'s Logo">
            <h4 class="apiName">{{ cat['apis'][api]["name"] }}</h4>
            <p>{{ cat['apis'][api]["desc"] }}</p>
            <div class="infoBox">
                <button class="enlarge" onclick="ping(event)" value="{{ api }}">Ping!</button> <!-- this isnt currently linked to anything but will be later -->
                <h6 class="latency">Latency<br><b>{% if cat['apis'][api]['status'] %} {{ cat['apis'][api]["ping"] }} {% elif not cat['apis'][api]['status'] %} 'XX' {% endif %}</b><i> ms</i></h6> <!-- this also isnt currently linked to anything but will be later -->
            </div>
        </div>
    {% endfor %}
</div>

<script>
    function imageDisplayError(elem) {
        // this defines a local variable which contains the link to the default image
        let backupLink = "{{ url_for('static', filename='cdn/apiLogos/default.gif') }}"
        
        // this prevents perpetual loading if the default image is also erroring
        if (elem.src != backupLink) { 
            elem.src = backupLink
        }
    }
</script>
{% endfor %}
{% endblock %}

