<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/core.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='cdn/elements/favicon.ico') }}">
    <script src="{{ url_for('static', filename='javascript.js') }}"></script>
</head>
<body>
    <div id="searchButtonHolder">
        <input type="text" name="searchInput" autofocus id="searchInput" placeholder="This Website is Non-Functional!">
        <img class="searchButton enlarge" onclick="window.location = './results'" src="{{ url_for('static', filename='cdn/elements/search.png') }}">
        <label for="searchInput" onclick="categoryMenuOpen()" class="underliner" id="searchInputLabel">Select Search Topic</label>
    </div>

    <img id="websiteName"  onclick="window.location = './'" src="{{ url_for('static', filename='cdn/elements/foxLogoTest.png') }}">
    <img id="hamburger" class="enlarge" onclick="menuOpen()" src="{{ url_for('static', filename='cdn/elements/hamburger.png') }}">
    
    <nav class="hamburgerMenu">
        <img id="closeMenu" class="enlarge" onclick="menuClose()" src="{{ url_for('static', filename='cdn/elements/closeDark.png') }}">
        <ul>
            <li><a class="underliner" href="./">Home</a></li>
            <li><a class="underliner" href="./about">About</a></li>
            <li><a class="underliner" href="./contact">Contact Us</a></li>
            <li><a class="underliner" href="./dashboard">API Status</a></li>
            <li><a class="underliner" href="./admin">Admin</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}

    
</body>
</html>