{% extends "core.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}">
<div class="categoryMenu">
    <img id="closeMenuCategory" class="enlarge" onclick="categoryMenuClose()" src="{{ url_for('static', filename='cdn/elements/close.png') }}">
    <div class="categoryBox" id="automatic">
        <h3 class="title">Automatic</h3>
        <p class="desc">Automatically selects the search module needed based on keywords in your search.</p>
        <button class="enlarge categoryButton" onclick="categoryMenuClose()">Select</button>
    </div>
    <div class="categoryBox" id="standard">
        <h3 class="title">Standard</h3>
        <p class="desc">Search for a basic content. Including the Weather, Maths, Wikipedia, News and more.</p>
        <button class="enlarge categoryButton" onclick="categoryMenuClose()">Select</button>
    </div>
    <div class="categoryBox" id="programming">
        <h3 class="title">Programming</h3>
        <p class="desc">Search for all the answers you may ever need! Can pull results from Stack Overflow, GitHub, Reddit, Read the Docs and more!</p>
        <button class="enlarge categoryButton" onclick="categoryMenuClose()">Select</button>
    </div>
    <div class="categoryBox" id="placeholder">
        <h3 class="title">To be decided</h3>
        <p class="desc">To be decided...</p>
    </div>
</div>

<script>
    document.querySelector("body").style.backgroundImage = "url('../cdn/backgrounds/fullsize.jpg')"
</script>
{% endblock %}

