<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/core.css') }}">
    <title>{{ pageTitle }}</title>
</head>
<body>
    <img class="hamburger" src="{{ url_for('static', filename='cdn/elements/hamburger.png') }}">
    <img class="searchButton" src="{{ url_for('static', filename='cdn/elements/search.png') }}">
    <p>Foxfire</p>
    <input type="text" name="searchInput" id="searchInput" placeholder="Enter Search Here">
    <label for="searchInput">Select Search Topic</label>
    
</body>
</html>